[submodule "thirdparty/Dobby"]
	path = thirdparty/Dobby
	url = https://github.com/jmpews/Dobby
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://android.googlesource.com/platform/external/googletest
